.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffe5d9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centered-text{
  display: flex;
  justify-content: center;
}

.centered-text p {
  width: 50%;
}

.scroll-a {
  width: 100%;
  flex: 0 0 27.33%;
  margin: 2%;
  text-decoration: none;
  color: black;
}

.article-box {
  width: 100%;
  border: solid 2px transparent;
  border-radius: 12px;
  text-align: left;
  padding: 6%;
  box-shadow: 2px 2px 2px 2px #888888;
  background-color: #ffe5d9;
}

.article-box-crypto {
  width: 100%;
  border: solid 2px transparent;
  border-radius: 12px;
  text-align: left;
  padding: 6%;
  box-shadow: 2px 2px 2px 2px #888888;
  background-color: #d1b3c4;
}

.title-box {
  width: 100%;
  border: solid 2px transparent;
  border-radius: 12px;
  height: 163px;
  text-align: left;
  padding: 6%;
  box-shadow: 2px 2px 2px 2px #888888;
  background-color: #ffcad4;
}

.title-box-crypto {
  width: 100%;
  border: solid 2px transparent;
  border-radius: 12px;
  height: 163px;
  text-align: left;
  padding: 6%;
  box-shadow: 2px 2px 2px 2px #888888;
  background-color: #cdb4db;
}

section {
  display: flex;
  flex-wrap: nowrap;
}

.scroll-section {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.scroll-section::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.section-box{
  padding-bottom: 16%;
  background: #ecf3ff;
}
.space-top {
  margin-top: 5%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}
.row-box {
  width: 30%;
  display: flex;
  justify-content: center;
}
.list-block {
  padding: 2%;
  border-bottom: solid 1px grey;
}
div#expenses {
  background: whitesmoke;
  width: 30%;
  margin-bottom: 2%;
  cursor: pointer;
  margin: 1%;
}
.row-left{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.tr-block-1 {
  width: 80%;
  text-align: left;
  cursor: pointer;
}
.tr-block-2 {
  width: 20%;
  cursor: pointer;
}
.tr-block-3 {
    width: 33.33%;
    text-align: left;
    margin-top: 5%;
    cursor: pointer;
}
.hide{
  display: none;
}
div#income {
  background: whitesmoke;
  width: 30%;
  margin-bottom: 2%;
  cursor: pointer;
  margin: 1%;
}
div#investment{
  background: whitesmoke;
  width: 30%;
  margin-bottom: 2%;
  cursor: pointer;
  margin: 1%;
}
.tr-block-4 {
  width: 50%;
  text-align: left;
  margin-top: 5%;
  cursor: pointer;
}
.icon {
  font-size: xx-large;
  margin-top: 7%;
  margin-right: 7%;
}
.graph{
  width: 30%;
  display: flex;
  justify-content: center;
}
.centered{
  display: flex;
  justify-content: center;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-row {
  display: flex;
  justify-content: center;
  padding: 2%;
}
a.footer-links {
  width: 10%;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
div#footer {
  background: #ebebeb;
  color: black;
  margin-top: 10%;
  padding: 3%;
}
div#popup {
  position: fixed;
  top: 68%;
  background: #ecf3ff;
  padding: 2%;
  left: 75%;
  border: solid 2px black;
  border-radius: 12px;
  width: 20%;
}
div#popup {
  position: fixed;
  top: 68%;
  background: #ecf3ff;
  padding: 2%;
  left: 73%;
  border: solid 2px black;
  border-radius: 12px;
  width: 20%;
}
.left-align {
  display: flex;
  justify-content: left;
}